.footer {
    margin: 0 auto;
    background-color: #fff;
}

.footer__elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 73px;
    padding-bottom: 40px;
    flex-direction: row;
    gap: 40px;
    border-bottom: 1px solid #EBF1FF;
}

.footer__company {
    margin: 0;
    padding: 0;
}

.footer__logo {
    margin: 0;
    max-width: 73px;
}

.footer__company-txt {
    max-width: 370px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #717FA5;
}

.footer__item {
    margin: 0;
}

.footer__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0082FE;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__list-item {
    font-size: 16px;
    line-height: 36px;
    color: #717FA5;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer__form {
    margin: 0;
    padding: 0;
}

.footer__form__fieldset {
    border: none;
    max-width: 370px;
    padding: 0;
    margin: 0;
}

.footer__form-input {
    background-color: #EBF1FF;
    border-radius: 10px;
    margin: 0;
    border: none;
    height: 50px;
    padding: 0 15px;
    width: 268px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #717FA5;

    outline: none;

}

.footer__form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #717FA5;
}

.footer__form_button {
    background-color: #0082FE;
    border-radius: 0px 10px 10px 0px;
    padding: 13px 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    border: none;
    position: absolute;
    top: 0;
    right: -95px;
    height: 50px;
}

.footer__form_button:active {
    border: none;
}

.footer__form-input::placeholder {
    font-size: 12px;
    line-height: 18px;
    color: #717FA5;
}

.footer__social {
    margin-top: 20px;
}

.footer__social-link {
    text-decoration: none;
    margin: 0 20px 0 0;
}

.footer__social-img {
    border: 1px solid #EBF1FF;
    border-radius: 10px;
    padding: 12px;
    text-decoration: none;


}

.footer__rights {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #717FA5;
    padding-bottom: 28px;
    margin: 28px auto 0 0;
}

.footer__wraper {
    position: relative;
}