.header {
    margin: 0 0;
    padding: 250px 0 0 0;
    max-width: 100%;
}

.header__logo {
    max-width: 75px;
    transition: .3s linear;
}

.header__logo:hover {
    transition: .3s linear;
    transform: scale(1.2);
}

@media screen and (max-width:801px) {
    .header {
        padding-top: 150px;
    }

}