a {
    color: #4f5872;
    text-decoration: none;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    transition: .3s linear;

}

a:hover {
    color: #2F80ED;
}

#header-nav {
    position: fixed;
    top: 0;
    display: block;
    max-width: 1440px;
    width: 100%;
    transition: transform 0.7s .3s ease;
    backdrop-filter: blur(15px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-backdrop-filter: blur(15px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition: -webkit-transform 0.7s .3s ease;
    -moz-transition: -moz-transform 0.7s .3s ease;
    -ms-transition: -ms-transform 0.7s .3s ease;
}

#header-nav.hide-nav-bar {
    transform: translate(0, -100%);
    backface-visibility: hidden;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -webkit-backface-visibility: hidden;
}

a.menu-link {
    float: right;
    display: block;
    padding: 1em;
}

nav[role=navigation] {
    clear: right;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.js nav[role=navigation] {
    overflow: hidden;
    max-height: 0;
}

nav[role=navigation].active {
    max-height: 90em;
}

nav[role=navigation] ul {
    margin: 0;
    padding: 0;
    float: left;
    padding: 0.7em 0;
}

nav[role=navigation] li a {
    display: block;
    padding: 0.3em;
    font-size: 16px;
}

.menu-link {
    height: 30px;
    width: 33px;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    margin-top: 3px;
    background: #999;
    width: 33px;
    height: 4px;
    position: absolute;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.bar2 {
    margin-top: 13px;
}

.bar3 {
    margin-top: 23px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.brand {
    float: left;
    padding: 1em;
}

.brand h1 {
    margin: 0;
    font-size: 1.5em;
}

.nav__menu-item_button {
    border: 1px solid #0082FE;
    border-radius: 10px;
    max-width: 100%;
    padding: 10px 30px;
    min-height: 50px;
    color: #0082FE;
    background-color: #fff;
    transition: .3s linear;
    cursor: pointer;

}

.nav__menu-item_button:hover {
    transition: .3s linear;
    transform: scale(1.1);
}

.container {
    max-width: 99%;
    margin: 0 auto;
}

/* section {
    margin-top: 4em;
    padding: 1em;
    color: #5c5c5c;
} */

/* section hr {
    border-bottom: none;
    color: #f2f2f2;
} */

.info {
    text-align: center;
}

@media screen and (min-width: 801px) {
    a.menu-link {
        display: none;
    }

    .js nav[role=navigation] {
        max-height: none;
    }

    nav[role=navigation] ul {
        margin: 0 0 0 -0.25em;
        border: 0;
        float: right;
    }

    nav[role=navigation] li {
        display: inline-block;
        margin: 0 0.25em;
    }

    nav[role=navigation] li a {
        border: 0;
    }


}