.portfolio {
    max-width: 1170px;
    margin: 0 auto;
}

.portfolio-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0082FE;
    text-align: center;
}

.portfolio__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-transform: capitalize;
    color: #323358;
    text-align: center;
    margin: 0;
}

.portfolio__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    gap: 85px;
    padding: 0;
    border-bottom: 1px solid #EBF1FF;
    max-width: 90%;
}

.portfolio__nav-item-txt {
    color: #717FA5;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-transform: capitalize;
    color: #717FA5;
    padding: 0;
}

.portfolio__nav-item {
    transition: .3s linear;
    padding: 0;
    margin: 0;
}

.portfolio__nav-item:hover {
    color: #2F80ED;
    transition: .4s linear;
    transform: scale(1.2);
    border-bottom: 1.5px solid #2F80ED;
}

.protfolio__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    margin: 41px 0 150px 0;
    max-width: 100%;
}

.portfolio__card__content {
    max-width: 315px;
    margin: 0 auto;
    padding-top: 20px;
}

.portfolio__card {
    max-width: 90%;
    margin: 0;
}

.portfolio__card-img {
    max-width: 90%;
}

.portfolio__card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    text-transform: capitalize;
    color: #323358;
    margin: 0;
    max-width: 80%;
}

.portfolio__card-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #717FA5;
    max-width: 90%;
    margin: 0;
}

@media screen and (max-width:800px) {
    .portfolio {
        max-width: 90%;
        margin-bottom: 75px;
    }

    .portfolio__nav {
        gap: 30px;
        margin: 0 auto;
    }

    .portfolio__title {
        font-size: 2rem;
    }

    .protfolio__cards {
        margin: 30px auto;
    }


}